@import "./reset.scss";

html {
  font-size: 16px;
}

a, a:hover {
  text-decoration: none;
}

a:hover,
button:hover,
input:hover {
  cursor: pointer;
}

.page-header-text {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1.8rem;
}

.default-input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid $border-primary;
}

.btn-default {
  display: block;
  padding: .9rem 0;
  width: 11.5rem;
  color: $text-third;
  background-color: #fff;
  border: 1px solid $border-primary;
  font-weight: bold;
  box-shadow: none;
  // border-radius: 5px;
}

.btn-active {
  background-color: $bg-fourth;
  color: $text-primary;
}

.btn-left {
  border-radius: 7px 0 0 7px;
  border-left: none;
  border-right: none;
  // padding: 1rem 2rem;
  // background-color: 
}

.btn-right {
  border-radius: 0 7px 7px 0;
}


@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

