@import "../css/variables";
@import "../css/common";

.yard-audit {
  .btn-left {
    border-left: 1px solid $border-primary;
  }
}

.inventory-reports-page {
  .page-header-text {
    margin-bottom: 0;
  }

  .page-top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .card-wrapper {
    display: flex;
  }

  .buttons-top-container {
    display: flex;
  }

  .card-left-side {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  @media screen and (max-width: 960px) {
    .card-wrapper {
      flex-direction: column;
    }

    .card-left-side {
      width: 100% !important;
    }

    .card-right-side {
      padding: 15px 25px !important;
    }
  }

  @media screen and (max-width: 600px) {
    .page-top-line {
      flex-direction: column;
      align-items: center;
    }
  }

  .card-right-side {
    flex-grow: 1;
    padding-left: 4rem;

    .top-line {
      padding: 1.2rem;
      display: flex;
      justify-content: flex-end;
    }

    .v-data-iterator {
      width: 14rem;
    }

    .list-bordered {
      border: 1px solid #EAEAEA;
    }

    .item-grey {
      background-color: #EAEAEA;
    }

    .summary-item {
      font-size: .9rem;

      .padding-left {
        padding-left: 2rem;
      }
    }
  }

  .tables-wrapper {
    display: flex;
    flex-direction: column;
  }

  .v-text-field .v-label--active {
    transform: translateY(-26px) scale(0.75) !important;
  }

  .v-text-field {
    margin-top: 0;
  }

  .table-select {
    width: 150px;
    flex: initial;
    box-sizing: border-box;
  }

  .v-data-table th {
    text-align: left !important;
    font-weight: bold;
    color: #333 !important;
    font-size: 0.9rem;
  }

  .v-data-table td {
    font-size: 0.9rem;
  }

  .table-select {
    .v-input__slot {
      background-color: $bg-third;
      padding: 2px 10px;
      height: 38px;
      border-radius: 5px 0 0 5px;
      border: 1px solid $border-primary;
    }

    .v-input__slot::before {
      display: none;
    }
  }

  .table-search {
    flex: inherit;
  }

  .table-footer {
    display: flex;
    justify-content: flex-end;
  }

  .footer-select {
    width: 100px;
  }

  .table-search {
    .v-input__slot {
      padding: 2px 10px;
      border-radius: 0 5px 5px 0;
      border: 1px solid $border-primary;
      border-left: none;
    }

    .v-input__slot::before {
      display: none;
    }
  }

  .date-text-field {
    position: relative;
    flex: initial;
    width: 150px;
    margin-right: 1.5rem;
  }

  .date-text-field {
    .v-input__slot {
      padding: 2px 10px;
      border-radius: 5px;
      border: 1px solid $border-primary;
    }

    .v-input__slot::before {
      display: none;
    }

    .v-input__prepend-outer {
      position: absolute;
      top: 15px;
      right: 0;
    }

    .mdi-close {
      margin-right: 47px;
      z-index: 1;
    }
  }

  .table-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);

    .mr {
      margin-right: 2.5rem;
    }

    .rows_select {
      max-width: 50px;
    }
  }
}